.header{
    height: 44vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}
.header-content p{
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    font-size: 1vw;

}
.header-content button{
    border: none;
    color: #747474;
    font-weight: 450;
    padding: 5px 5px;
    background-color: white;
    font-size: max(1vw, 20px);
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .header-content{
        max-width: 45%;
    }
}
@media (max-width: 750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}

